.leftMenu {
    width: 400px;
    height: 100vh;
    background-color: coral;
    /* background-image: url('../assets/f2.jpg');
    background-position-x: 20%;
    background-position-y: 0%; */
    display: flex;
    flex-direction: column;
    font-size: 35px;
    font-family: 'Source Sans Pro', sans-serif;    
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.leftMenu a {
    text-decoration: none;
    color: black;
}


.dateCategory  {
    display: flex;
    flex-direction: column;
    margin:10% 10%;

}

.labelCategory {
    display: flex;
    flex-direction: column;
    margin:10% 10%;

}