.navbar-nav {
    padding-left: 95%;
}

.navbar-dark .navbar-brand {
    font-family: "Kristi", cursive;
    font-size: 32px;
    color: rgb(255, 255, 255);
}

img {
    width: 20px;
    margin: 0 10px;
}
