@import "../common/commonStyle.scss";

.introPage {
    box-shadow: $shadow-lg;
    display: grid;
    margin: 15px;
    background-image: url("../backgroundImages/gradient-orange.jpg");
    background-color: red;
    background-position-x: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    height: 95vh;
    padding: 0 10%;
}

@media (max-width: 1300px) {
    .introPage{
        flex-direction: column;
        height:auto;
        min-height: 95vh;
    }
}
