@import "../common/commonStyle.scss";

.formBox {
    margin: 9% auto;
    .form {
        box-shadow: $shadow-lg;
        margin: 10% auto;
        width: 650px;
        height: 500px;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
    }

    .inputBox {
        margin-top:20%;
    }

    .leftBox {
        color: rgb(255, 81, 0);
        background-color: rgb(46, 41, 41);
        width: 30%;
        box-shadow: $shadow-lg;
        border-radius: 10px 0 0 10px;

        h2 {
            margin-top: 100%;
            text-align: center;
            font-family: "Kristi", cursive;
            font-size: 60px;
        }
    }

    form {
        margin: 20% auto;
    }

    .okButton {
        border-radius: 5px;
        border: 1px solid rgb(255, 94, 0);
        background-color: rgb(255, 255, 255);
        margin-right: 5px;
    }

    .errorMessage {
        color: rgb(255, 94, 0);
        font-size: 18px;
    }
}

.okButton:hover {
    background-color:rgb(255, 94, 0);
    transition: 300ms;
}