@import '../common/commonStyle.scss';

.addTodoBox {
    margin: 5% auto;
    padding: 20px 10px;
    border-top: 2px solid rgb(4, 212, 202);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    min-width: 300px;
    width: 30%;
    box-shadow: $shadow-lg;

    label {
        color: rgb(88, 86, 86);
        display: flex;
        flex-direction: column;
        font-size: 30px;
    }

    input {
        margin-bottom: 8px;
        font-size: 17px;
        background: none;
        border: none;
        border-bottom: 1px solid rgb(4, 212, 202);
    }

    .errorMessage {
        color: red;
        font-size: 20px;
    }

    button {
        border-radius: 5px;
        border: none;
        background-color: rgb(185, 185, 185);
        margin-right: 5px;
    }

    .cancelButton:hover {
        background-color: salmon;
        transition: 300ms;
    }

    .okButton:hover {
        background-color: rgb(139, 241, 92);
        transition: 300ms;
    }
}
