.todoPage {
    width: 100%;
    background-color: rgb(233, 237, 241);
    z-index: 1;
    /* background: -webkit-linear-gradient(top left, #585750, #544C4E);
    background: -moz-linear-gradient(top left, #FFEA55, #544C4E);
    background: linear-gradient(to bottom right, #FFEA55, #544C4E); */
}

.todoList {
    z-index: 1;
    padding-top: 2%;
    margin: 0 auto;
    display:grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center; 
    row-gap: 10%;
    overflow: scroll;
    max-height: 90vh;
}

.innerBox{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}