.leftMenu {
    width: 400px;
    background-image: url("../../backgroundImages/gradient-orange.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 60%;
    display: flex;
    flex-direction: column;
    font-size: 35px;
    font-family: "Source Sans Pro", sans-serif;

    a {
        text-decoration: none;
        font-weight: 400;
        color: white;
    }

    .menuLink {
        margin-bottom: 5px;
        padding: 0;
    }

    .dateCategory {
        display: flex;
        flex-direction: column;
        margin: 10% 10%;
    }

    .labelCategory {
        display: flex;
        flex-direction: column;
        margin: 10% 10%;
    }
}

@media (max-width: 800px) {
    .leftMenu {
        width: 100%;
    }
}

.leftMenu a:hover {
    color: rgb(56, 51, 51);
    transition-duration: 400ms;
}
